/* wrappers, cards */

.wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

.card-text {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
    text-align: center;
    min-width: 40px;
}

.card-picture > div {
    font-size: 100px;
}

/* me */

#me-get-name * {
    font-size: large;
    padding: 4px;
    margin: 15px;
}

#me-show-name {
    text-align: center;
    font-size: xx-large;
    border-bottom: 1px dashed;
}

/* game */

#game {
    font-size: large;
}

#game div {
    padding: 8px;
    margin: 4px;
}

#game td {
    padding: 5px;
}

#round-start-button {
    font-size: large;
}

/* round, hand, wagers, status */

#trump-suit {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 50px;
}

#trump-suit > div {
    padding: 8px;
    margin: 4px;
}

#round-finish-button {
    font-size: large;
    padding: 4px;
    margin: 4px;
}

#wagers {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
}

#cards-hand-wagers {
    display: flex;
    justify-content: space-between;
}

.my-cards-my-turn {
    /*border: 2px dashed red;*/
}

#wagers {
    font-size: large;
}

#wagers th, #wagers td {
    padding: 5px;
    text-align: center;
}

#wagers button, #wagers select {
    font-size: large;
}

.status-suit {
    justify-content: center;
    font-size: xx-large;
}

.status-suit > div {
    padding: 2px;
    margin: 2px;
}

.statuses-me .status-name {
    color: red;
}

.statuses-wager-turn {
    background-color: lightgray;
}

.statuses-play-card-turn {
    background-color: lightgray;
}

.statuses-leader .status-current-card {
    border: 3px dashed;
}

.statuses-previous-hand-winner .status-previous-card {
    border: 3px dashed;
}