/* wrappers, cards */

.wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

/* me */

#me-get-name * {
    font-size: large;
    padding: 4px;
    margin: 15px;
}

#me-show-name {
    text-align: center;
    font-size: xx-large;
    border-bottom: 1px dashed;
}

/* game */

#game {
    font-size: large;
}

#game div {
    padding: 8px;
    margin: 4px;
}

#game td {
    padding: 5px;
}

#round-start-button {
    font-size: large;
}

/* round, hand, wagers, status */

#trump-suit {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 50px;
}

#trump-suit > div {
    padding: 8px;
    margin: 4px;
}

#current-suit {
    font-size: xx-large;
}

#current-suit > div {
    padding: 8px;
    margin: 4px;
}

#round-finish-button {
    font-size: large;
    padding: 4px;
    margin: 4px;
}

#wagers {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
}

#current-hand {
    text-align: center;
}

#cards-hand-wagers {
    display: flex;
    justify-content: space-between;
    /*flex: 1;*/
}

/*
.wrapper-vertical, .wrapper-horizontal {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
}
*/

.round-card-style {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
    text-align: center;
    min-width: 40px;
}

.round-card-unicode-style > div {
    font-size: 100px;
}

.round-my-turn {
    border: 2px dashed red;
}

#wagers {
    font-size: large;
}

#wagers th, #wagers td {
    /* TODO this doesn't seem to do anything? margin: 8px; */
    padding: 10px;
    text-align: center;
}

#wagers button, #wagers select {
    font-size: large;
}

.statuses-me .status-name {
    color: red;
    /*font-size: xx-large;*/
}

.statuses-wager-turn {
    background-color: lightgray;
}

.statuses-play-card-turn {
    background-color: lightgray;
}

.statuses-leader .status-current-card {
    background-color: greenyellow;
}

.statuses-previous-hand-winner .status-previous-card {
    background-color: green;
}