#me-get-name * {
    font-size: large;
    padding: 4px;
    margin: 4px;
}

#me-show-name {
    text-align: center;
    font-size: xx-large;
    border-bottom: 1px dashed;
}

#round-suit {
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
}

.wrapper-horizontal {
    display: flex;
    flex-direction: row;
}

.wrapper-vertical {
    display: flex;
    flex-direction: column;
}

#current-hand {
    text-align: center;
}

#cards-hand-wagers {
    display: flex;
    justify-content: space-between;
    /*flex: 1;*/
}

/*
.wrapper-vertical, .wrapper-horizontal {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
}
*/

.round-card-style {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
    text-align: center;
    min-width: 40px;
}

.round-card-unicode-style > div {
    font-size: 100px;
}

.round-my-turn {
    border: 2px dashed red;
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

.trump-suit {
    font-size: xx-large;
}

.hand-suit {
    font-size: x-large;
}

#hand-suit, #round-suit {
    justify-content: center;
}

#hand-suit > div, #round-suit > div {
    padding: 8px;
    margin: 4px;
}

.hand-leader {
    border: 1px dashed;
    padding: 8px;
    margin: 4px;
    color: red;
    background-color: lightgreen;
}

.hand-not-leader {

}


/* TODO use this for cards
   ace of spades: $("div").append("\uD83C\uDCA1")
   https://en.wikipedia.org/wiki/Playing_cards_in_Unicode */
/*div {*/
/*    font-size: 200px;*/
/*}*/

/*#container {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: relative;*/
/*}*/

/*#me, #game, #round, #hand {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
